#Compiled class file
**/*.class

#vscode files
**/.vscode

#jar files
**/.jar

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore bins
bin
